header,footer {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Align items with space between */
    align-items: center; /* Vertically center items */
    padding: 10px;
    background-color: darkslategray;
    font-family: 'Arial', sans-serif;
    color: cornsilk;
}

nav ul {
    list-style: none; /* Remove bullet points */
    display: flex; /* Display list items in a row */
    gap: 15px; /* Add spacing between items */
    padding: 0;
    margin: 0;
}

nav a {
    font-size: 12px;
    text-decoration: none; /* Remove underline */
    color: whitesmoke;
}

footer a {
    text-decoration: none; /* Remove underline */
    color: whitesmoke;
}

nav a:hover {
    color: darkblue;
    text-decoration: underline; /* Change color on hover */
}

img {
    width: 300px; /* Set the desired width */
    height: 250px; /* Set the desired height */
    object-fit: cover;
}

